* {
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
	margin-bottom:0px;
}
.head{
	margin-top:7px;
	font-size:40px;
	font-weight:bold;
	margin-bottom:15px;
}
.und{
	text-decoration:underline;
}