input{
	font-size:25px;
	padding-top:10px;
	padding-left:15px;
	padding-bottom:10px;
	border-radius: 250px;
	border-width:0px;
    border-style:solid;
	width:650px;
	box-shadow: 0px 0px 2px 2px rgb(0,0,0,0.1);
}